<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>

<cn-basic-button  btText="anshu"></cn-basic-button>
<div style="margin: 10px"></div>
<cn-basic-button btColor="accent" btText="vimal" btnType="raisedButton"></cn-basic-button>
<div style="margin: 10px"></div>
<cn-basic-button btColor="warn" btText="Art" btnType="basicButton"></cn-basic-button>
<div style="margin: 10px"></div>
<cn-basic-button btColor="primary" btText="Mohamed" btnType="strokedButton"></cn-basic-button>
<div style="margin: 10px"></div>
<cn-basic-button btColor="primary" btText="Mohamed"  btnType="flatButton" (click)="showAlert()"></cn-basic-button>
